<a href="https://colab.research.google.com/github/SebastianZR/edd_1310_2021/blob/master/01octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Intro Python 3
### Variables
tipo dinamico

In [11]:
escuela = "Fes Aragon"
print (escuela)
print ("-------------------------")
edad= 13
estatura = 1.67
fumador = True
nombre = "Alberto"
nombre_completo = " Alberto Sanchez Ortega"
frase = """ 
Esta es una frase
de multiuples lineas 
y tambien es un tipo de dato 
"""

print (frase)

Fes Aragon
-------------------------

Esta es una frase
de multiuples lineas
y tambien es un tipo de dato

In [9]:
#la coma da un espacio entre el texto 
print (edad, nombre)

13 Alberto

##Print 
con comas , 
con signos mas  + 
con formast () 
con el operador f ""

In [12]:
print (nombre +  str (edad))
print (nombre+nombre_completo)

Alberto13
Alberto Alberto Sanchez Ortega

In [16]:
#con formato ---> Su nombres es Jose y suedad es de 13 anios.
print("Su nombre es" , nombre , "y su edad es de" ,edad, "anios")
print ( "Su nombre es {0} y su edad es de {1} anios ". format(nombre,edad))
print ( "Su nombre es {1} y su edad es de {0} anios ". format(nombre,edad))

Su nombre es Alberto y su edad es de 13 anios
Su nombre es Alberto y su edad es de 13 anios
Su nombre es 13 y su edad es de Alberto anios

In [17]:
# Con formato con el operador f ""
print (f"Su nombre es {nombre} y su edad es de {edad} anios")

## Caracteres de escape 
\n  salto de linea 
\t  tabulador
\a  beep
\\" imprimir comilla doble 
\' imprimir comilla simple

In [18]:
""" 
Esto es 
un comentario 
de multiple 
linea 
tantan 
"""
print (f"\t mi nombre es \n\t\t{nombre}")

	 mi nombre es
		Alberto

#Ayuda de tipos de datos en python 
dir ()
help ()

In [ ]:
#str, int , floar , bool ..... list , dict , set 

help (str)

In [28]:
print (nombre_completo.capitalize() )
print (nombre_completo.upper()  , end ="-----------")
print (nombre_completo.title() )

 alberto sanchez ortega
 ALBERTO SANCHEZ ORTEGA----------- Alberto Sanchez Ortega

In [25]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Clase String 
 es manejada como un arreglo ( c o java ) o lista (python)
 
  telefono = "Hawei mate 30 pro"

  print (telefono[0])

In [32]:
telefono = "Huawei mate 30 pro"
print (telefono[5])

i

# Slicing (rebanando)
[ini:stop:incremento]

In [42]:
print (telefono [7:11:1])
# el inicio y el cinremento son opcionales lo que mas importa es el stop
print (telefono[:11:])
# el valor po defecto de stop es len (str)
print (telefono[::])
# incremento negativo 
print (telefono[::-1])
#slacing negativo 
ini = -3
inc=1
print (telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

#Funciuones de string (str)

Existen metodos muy utiles en esta clase.

In [60]:
facultad = "    facultad de estudios superiorers aragon      "
tamanio = len (facultad)
print (facultad.count("s"))# cuenta el numero de elementos que tu le digas en la cadena 
print (facultad.find("s"))#uencuentra el inidice de la primer acoincidencia 
print (facultad.strip())#quita los espacios en blanco y saltos de linea 
print (len (facultad.strip()))
print (facultad.split("u"))
print (f"tamanio de la cadena es {tamanio} caraceres")
print (facultad.strip().split(" "))


print ("______________________________________")

#copiar cadenas
otra_cadena = facultad 
print (otra_cadena)
otra_cadena= "FES ARAGON "
print (facultad)

print("---------------------------------------")
#copiar listas

colores = ["azul" , "verde"]
otra = colores.copy()
print (colores)
print (otra)

4
17
facultad de estudios superiorers aragon
39
['    fac', 'ltad de est', 'dios s', 'periorers aragon      ']
tamanio de la cadena es 49 caraceres
['facultad', 'de', 'estudios', 'superiorers', 'aragon']
______________________________________
    facultad de estudios superiorers aragon
    facultad de estudios superiorers aragon
---------------------------------------